*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root{
    --dark1: #0c042c; 
    --dark2: #0c214b; 
    --light1: #c3ccd4; 

    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2); 
    
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c; 
    --contrast-color2: #6a2dcc; 
    --positive-color: #2ac670; 
            
    --tittle1: whitesmoke; 
    --tittle2: #2ac4dd; 

    --circle-color-shadow: rgba(42, 196, 221,0.15);
    --circle-color-shadow-two: rgba(42, 196, 221,0.05)
}

* h3{
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 400;
    font-variant: var(--tittle2);
    text-align: center;
    letter-spacing: 1px;
    opacity: 0;
}
@keyframes fade-in {
    to {
        opacity: 1;
    }
}
p{
    color: var(--light1);
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-family: "Merriweather Sans", sans-serif;
}
body{
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    width: 0px;
}



/* Home Section Style */
.Home{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
}



/* Home img container */
.Home__img-container{
    width: 100%;
    display: flex;
    z-index: 1;
    position: relative;
}
.Home__img-container img{
    width: 50%;
    opacity: 0.6;
}
.Home__subtitle-container{
    width: 50%;
    height: 50%;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation-name: fade-in;

}
.Home__subtitle-container img{
    width: 70%;
    height: 50%;
    transform: translate(-50%);
    margin-left: 50%;
    opacity: 1;
}
.Home__subtitle-container h3{
    font-weight: 400;
    width: 70%;
    height: 20%;
    margin-left: 50%;
    font-family: "Quicksand", sans-serif;
    transform: translate(-50%, -30%);
    color: var(--tittle1);
}

.button-container{
    height: 6rem;
    width: 50%;
    margin: auto;
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0%, -40%);
    gap: 10px;
}











/* Home content container style */
/* Intro */
.Home-content-container{
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
}

/* Contenitore Video */
.contenitore-video{
    position: relative;
    height: 700px;
    overflow: hidden;
}
video{
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.backdrop{
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.Home-content-Intro{
    width: 100%;
    padding: 0px;
    margin: auto;
    position: relative;
}
.Home-content-Intro h3{
    color: var(--tittle2);
    letter-spacing: 0.5px;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}
.Home-content-Intro h3 span{
    color: var(--tittle1);
    display: block;
    font-family: "Raleway", sans-serif;
    font-size: 28px;
    font-weight: lighter;
    padding-top: 8px;
}
.Home-content-Intro p{
    color: var(--light1);
    letter-spacing: 1px;
    line-height: 1.5rem;
    text-align: center;
    margin-top: -2rem;
}




/* .backdrop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
}
.backdrop img{
    width: 100%;
    height: auto;
}

 */


 
.Home-content-container-piattaforma{
    margin: 1rem auto;
}
.Home-content-container-piattaforma-two{
    margin: 8rem auto 0rem auto;
}
.funzionalità{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 5.5rem;
}
.marcatore{
    color: var(--tittle2);
    font-size: 20px;
}
.piattaforma-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.piattaforma-description h3{
    color: var(--tittle1);
    font-size: 35px;
    font-weight: 400;
    text-align: left;
}
.piattaforma-description h3 span{
    color: var(--tittle2);
}
.piattaforma-description p{
    margin-top: 1rem;
    max-width: 90%;
}
.piattaforma-img img{
    width: 100%;
    height: 420px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.5);
    border-radius: 4px;
    opacity: 0.9;
}
.piattaforma-description:first-of-type .button-style{
    height: 2.5rem;
    margin-top: 1rem;
    width: 14rem;
}
.funzionalità .button-style{
    height: 2.5rem;
    margin-top: 1rem;
    width: 18rem;
}







/*  Perchè Noi  */
.Home-Content-container-scleta{
    margin: 6rem auto 0rem auto;
}
.Home-Content-container-scleta h3{
    text-align: center;
    color: var(--tittle2);
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui;
}
.Home-Content-container-scleta p{
    text-align: center;
    padding: 20px;
}
.Home-Content-container-vantaggi{
    margin: -2rem auto auto auto;
    gap: 10px;
}
.grid-container{
    background-color: rgba(176, 184, 193, 0.2);
    width: 30.2rem;
    border-radius: 4px;
}
.grid-container:hover{
    background-color: var(--neutral-bg-color-contrast);
}
.grid-container h3{
    color: var(--tittle1);
    font-size: 35px;
    font-weight: 400;
    font-family: system-ui;
    margin-top: 1rem;
    text-align: left;
    padding-bottom: 8px;

}
.img-container-grid{
    background-color: rgba(42, 196, 221,0.05);
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.img-container-circle{
    background-color: rgba(42, 196, 221,0.15);
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}







/* Demo */
.home-content-demo{
    background-color: rgba(124, 81, 149, 0.2); 
    margin-top: 0rem;
}
.demo-descrizione{
    margin-left: -1rem;
}
.demo-descrizione h5{
    padding: 10px;
    text-align: center;
    color: var(--tittle1);
}
.demo-descrizione h3{
    text-align: center;
    color: var(--tittle2);
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui;
}
.demo-descrizione p{
    text-align: center;
    font-style: italic;
    padding: 5px;
    margin: auto;
}
.button-container-demo{
    margin-top: 2rem;
    gap: 10px;
}
.home-content-demo .button-style{
    padding: 8px;
    width: 18rem;
}
#button-funz{
    width: 24rem;
    padding: 8px;
}
.form-richiedi{
    border-left: 5px solid var(--neutral-bg-color-contrast);
}
.form-richiedi h3{
    color: var(--tittle1);
    font-size: 35px;
    text-align: left;
    padding: 10px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}
.form-richiedi input{
    display: block;
    width: 30rem;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
    outline-color: var(--contrast-color2);
    border: none;
}
.form-richiedi select{
    width: 30rem;
    padding: 10px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 8px;
}
.form-richiedi .privacy{
    padding: 10px;
}






/* Team E Corporation */
.img-container img{
    width: 100%;
    height: auto;
}
.img-container {
    height: 400px;
    overflow: hidden;
    position: relative;
}
.img-container-description{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(1px);
}
.img-container-description h3{
    text-align: left;
    color: var(--tittle2);
}
.img-container-description p{
    color: aliceblue;
}
.container-blog-presentation{
    margin-top: 2rem;
}







/* Latest News */

.Latest-News h3{
    text-align: center;
    color: var(--tittle2);
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui;
}
.Latest-News .subtitle{
    margin: auto;
    text-align: center;
}
.card-container-news{
    margin: 2rem auto auto auto;
    height: 48rem;
    gap: 10px;
}
.card-item{
    background-color: rgba(176, 184, 193, 0.2);
    border-radius: 4px;
}
.card-item .card-image{
    overflow: hidden;
}
.card-item .card-image img{
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.card-item .card-image img:hover{
    transform: scale(1.05);
}
.colonna1{
    height: 100%;
}
#First-news{
    height: 100%;
}
#First-news .card-image{
    height: 60%;
}
#recent-news img{
    width: 100%;
    height: auto;
}
.colonna2{
    height: 100%; 
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.colonna2 .card-image{
    height: 100%;
    width: 45%;
}
.colonna2 .card-image img{
    width: 400px;
    height: auto;
}
.card-item h3{
    text-align: left;
    color: var(--tittle1);
    font-weight: 400;
    font-size: 35px;
    padding-bottom: 8px;
}
.card-descrizione{
    padding: 20px;
}
.autore-description{
    width: 70%;
    display: flex;
    padding-top: 10px;
    align-items: center;
    gap: 18px;
}
.Container-autore,
.Container-Data{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
}
.container-btn-notizie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.colonna2 .arrow-button{
    padding-top: 0px;
}
#notizie{
    width: 20rem;
    padding: 8px;
}


/* Domande */
.faq-container{
    margin: auto;
    background-color: var(--neutral-bg-color-contrast);
}
.faq-container h3{
    text-align: center;
    font-size: 40px;
    padding-top: 30px;
    color: var(--tittle2);
    font-weight: 700;
    margin-bottom: 2rem;
    font-family: system-ui;
}
.container-btn-domanda{
    display: flex;
    justify-content: center;
    align-items: center;
}
#domanda{
    width: 18rem;
    padding: 8px;
}
.accordion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 8px;
}
#accordion-item{
    background: none;
    border: none;
  
}
#accordion-item h2{
    background-color: var(--neutral-bg-color);
    border: none;
}
.accordion-btn{
    background: none;
    border: none;
    color: var(--tittle1);
    font-size: 18px;
    width: 100%;
    text-align: left;
    position: relative;
}
.accordion-btn::after {
    content: '+';
    position: absolute;
    right: 1.5rem;
    top: 1.2rem;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 25px;
    align-items: center;
    border-radius: 40px;
    background-color: var(--circle-color-shadow);
    box-shadow: 10px 10px 10px 5px var(--circle-color-shadow-two);
    width: 30px;
    height: 30px;
}
.accordion-btn:focus {
    box-shadow: 0 0 0 1px var(--tittle2) !important;
    border-radius: 4px 4px 0px 0px;
}
.accordion-btn.active::after {
    content: '-';
}
.accordion-body{
    background-color: var(--contrast-color-shadow);
    color: var(--tittle1);
    border: 1px solid var(--neutral-bg-color);
}






/* Animation */
.Home__subtitle-container img {
    animation: fade-in 1s ease-in forwards;
}
.Home__subtitle-container h3 {
    animation: fade-in 1s ease-in forwards;
    animation-delay: 0.5s;
}
.Home__subtitle-container .button-container button {
    animation: fade-in 1s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1; 
    }
}

@keyframes translate {
    from{
        margin-top: -2rem;
    }
    to{
        margin-top: 0rem;
    }
}

@keyframes scale {
    from {
        transform: scale(1.1);
        opacity: 0; /* Start hidden */
    }
    to {
        transform: scale(1.0);
        opacity: 1; /* Fully visible */
    }
}

.scale-img {
    transform: scale(1.1);
    opacity: 0;
    transition: opacity 0.5s; 
}
.scale-animate {
    animation: scale 2s forwards; 
}