<div class="MobileNavBar-backdrop">
    <ul class="linkage-containerMobile">
        <li><a href="/BioVitalyAge-Website/index.html">Home Page</a></li>
        <li>
            <div class="d-flex">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/BioVitalAgeClock.html">
                  BioVitalAge Clock
                </a>
                <img class="has-dropdown-clock-mobile" src="/BioVitalyAge-Website/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;" width="18" height="18">
            </div>
            <div class="dropdown-menu-clock-mobile">
              <div class="dropdown-section">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/sezione1.html">Sezione 1</a>
              </div>
              <div class="dropdown-section">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/sezione2.html">Sezione 2</a>
              </div>
              <div class="dropdown-section">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/sezione3.html">Sezione 3</a>
              </div>
              <div class="dropdown-section">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/sezione4.html">Sezione 4</a>
              </div>
            </div>
        </li>
        <!-- <li><a href="/BioVitalyAge-Website/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li> -->
        <li><a href="/BioVitalyAge-Website/url/Innovation/innovation.html">La nostra innovazione</a></li>
        <li><a href="/BioVitalyAge-Website/url/About/about.html">Chi Siamo</a></li>
        <li><a href="/BioVitalyAge-Website/url/Collaborazioni/collaborazioni.html">Collaborazioni</a></li>
        <li><a href="/BioVitalyAge-Website/url/Contattaci/contattaci.html">Contattaci</a></li>
        <div class="line-divisor"></div>
        <li><a href="http://biovitalageplatformdeployed-env.eba-exhbgdpt.us-east-1.elasticbeanstalk.com/">Accedi</a></li>
    </ul>
</div>

<nav class="nav-bar-mobile" id="navBarMobile">
    <div class="nav-barMobile__logo-container">
        <a href="/BioVitalyAge-Website/index.html">
            <img src="/BioVitalyAge-Website/includes/images/Logo.png" alt="BioVitalAge Logo">
        </a>
    </div>
</nav>

<div class="menu-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav class="nav-bar" id="navbar">
    <div class="nav-bar__logo-container">
        <a href="/BioVitalyAge-Website/index.html">
            <img src="/BioVitalyAge-Website/includes/images/Logo.png" alt="BioVitalAge Logo" title="Home Page">
        </a>
    </div>

    <div class="nav-bar__linkage">
        <ul class="linkage-container">
            <li><a href="/BioVitalyAge-Website/index.html">Home Page</a> </li>
            <li class="has-dropdown-clock">
                <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/BioVitalAgeClock.html">
                  BioVitalAge Clock
                  <img src="/BioVitalyAge-Website/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;">
                </a>
                <div class="dropdown-menu-clock">
                  <div class="dropdown-section">
                    <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/subcategory/EtàBiologica/EtaBiologica.html">Età Biologica</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/subcategory/CapacitàVitale/CapacitàVitale.html">Capacità Vitale</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/subcategory/Resilienza/Resilienza.html">Resilienza</a>
                  </div>
                  <div class="dropdown-section">
                    <a href="/BioVitalyAge-Website/url/BioVitalAgeClock/subcategory/EtàMetabolica/EtaMetabolica.html">Età Metabolica</a>
                  </div>
                </div>
            </li>            
            <!-- <li><a href="/BioVitalyAge-Website/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li> -->
            <li><a href="/BioVitalyAge-Website/url/Innovation/innovation.html">La nostra innovazione</a></li>
            <li><a href="/BioVitalyAge-Website/url/About/about.html">Chi Siamo</a></li>
            <li><a href="/BioVitalyAge-Website/url/Collaborazioni/collaborazioni.html">Collaborazioni</a></li>
        </ul>
    </div>
    
    <div class="nav-bar__other-link">
        <a href="/BioVitalyAge-Website/url/Contattaci/contattaci.html" class="info-link">Contattaci</a>

        <a href="http://biovitalageplatformdeployed-env.eba-exhbgdpt.us-east-1.elasticbeanstalk.com/" class="button" style="text-align: center;">Accedi</a>
    </div>
</nav>

<script>

</script>