<div class="MobileNavBar-backdrop">
    <ul class="linkage-containerMobile">
        <li><a href="/BioVitalyAge-Website/index.html">Home Page</a></li>
        <li><a href="/BioVitalyAge-Website/url/BioVitalAgeClock/BioVitalAgeClock.html">BioVitalAge Clock</a></li>
        <li><a href="/BioVitalyAge-Website/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li>
        <li><a href="/BioVitalyAge-Website/url/Innovation/innovation.html">Innovazione</a></li>
        <li><a href="/BioVitalyAge-Website/url/Industries/industries.html">Industrie</a></li>
        <li><a href="/BioVitalyAge-Website/url/Corporation/corporation.html">Società</a></li>
        <li><a href="/BioVitalyAge-Website/url/contattaci/contattaci.html">Contattaci</a></li>  
    </ul>
</div>

<nav class="nav-bar-mobile" id="navBarMobile">
    <div class="nav-barMobile__logo-container">
        <img src="/BioVitalyAge-Website/includes/images/Logo.png" alt="BioVitalAge Logo">
    </div>
</nav>

<div class="menu-container" onclick="myFunction(this)">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
</div>

<nav class="nav-bar" id="navbar">
    <div class="nav-bar__logo-container">
        <a href="/BioVitalyAge-Website/index.html">
            <img src="/BioVitalyAge-Website/includes/images/Logo.png" alt="BioVitalAge Logo" title="Home Page">
        </a>
    </div>

    <div class="nav-bar__linkage">
        <ul class="linkage-container">
            <li><a href="/BioVitalyAge-Website/index.html">Home Page</a> </li>
            <li><a href="/BioVitalyAge-Website/url/BioVitalAgeClock/BioVitalAgeClock.html">BioVitalAge Clock</a><img src="/BioVitalyAge-Website/includes/images/icone/navBarArrow.png" alt="Freccia Giù" style="margin-left: 5px;"></li>
            <!-- <li><a href="/BioVitalyAge-Website/url/BioVitalAgeTherapy/BioVitalAgeTeraphy.html">BioVitalAge Therapy</a></li> -->
            <li><a href="/BioVitalyAge-Website/url/Innovation/innovation.html">Innovazione</a></li>
            <li><a href="/BioVitalyAge-Website/url/Industries/industries.html">Industrie</a></li>
            <li><a href="/BioVitalyAge-Website/url/Corporation/corporation.html">Società</a></li>
        </ul>
    </div>
    
    <div class="nav-bar__other-link">
        <a href="/BioVitalyAge-Website/url/contattaci/contattaci.html" class="info-link">Contattaci</a>

        <a href="http://biovitalageplatformdeployed-env.eba-exhbgdpt.us-east-1.elasticbeanstalk.com/" class="button" style="text-align: center;">Accedi</a>
    </div>
</nav>