*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root{
    --dark1: #0c042c; 
    --dark2: #0c214b; 
    --light1: #c3ccd4; 

    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2); 
    
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c; 
    --contrast-color2: #6a2dcc; 
    --positive-color: #2ac670; 
            
    --tittle1: whitesmoke; 
    --tittle2: #2ac4dd; 

    --circle-color-shadow: rgba(42, 196, 221,0.15);
    --circle-color-shadow-two: rgba(42, 196, 221,0.05)
}


body{
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    width: 0px;
}



/* Home Section Style */
.Home{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
}
.Home_Section-tittle{
    position: relative;
    height: 300px;
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.3ds.com/assets/invest/2024-10/lsh-pharmaceutical-and-biotech-hero-banner-1920x600.jpg);
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.Home_Section-tittle h3{
    margin-top: 5rem;
    color: var(--tittle2);
    letter-spacing: 0.5px;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    text-align: left;
    font-weight: 700;
    max-width: 40%;
    opacity: 0;
    z-index: 1;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
} 



.grid-container{
    margin: auto;
}
.img-container {
    overflow: hidden;
    position: relative;
}
.img-container img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}
.img-container:hover img {
    transform: scale(1.1);
}
.img-container .backdrop {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.img-container:hover .backdrop {
    display: flex; 
}
.description-card h3{
    color: var(--tittle1);
    font-size: 25px;
    font-style: italic;
}
.description-card p{
    color: var(--tittle2);
    text-align: center;
}
.backdrop div{
    gap: 10px;
}
.backdrop div a{
    z-index: 1;
}
.row{
    padding-bottom: 40px;
}
.tittle{
    font-weight: bold;
    color: var(--tittle2);
    padding-bottom: 10px;
}


.home-content-demo{
    background-color: rgba(124, 81, 149, 0.2); 
    margin-top: -1rem;
    position: relative;
    overflow: hidden;
}
.demo-descrizione{
    margin-left: -55rem;
    z-index: 2;
}
.demo-descrizione h5{
    padding: 10px;
    text-align: center;
    color: var(--tittle1);
}
.demo-descrizione h3{
    text-align: center;
    color: var(--tittle2);
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui;
}
.demo-descrizione p{
    text-align: center;
    font-style: italic;
    padding: 5px;
    margin: auto;
}
.button-container-demo{
    margin-top: 2rem;
    gap: 10px;
}
.home-content-demo .button-style{
    padding: 8px;
    width: 14rem;
}
.home-content-demo .backdrop{
    margin-left: 10%;
    margin-top: 10%;
    transform: rotate(40deg);
    height: 200rem;
    width: 200rem;
    overflow: hidden;
    z-index: 2;
}
.home-content-demo .backdrop img{
    transform: rotate(-40deg);
    margin-left: -30rem;
    margin-top: 15rem;
    z-index: 1;
    filter: blur(2px);
}