*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root{
    --dark1: #0c042c; 
    --dark2: #0c214b; 
    --light1: #c3ccd4; 

    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2); 
    
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c; 
    --contrast-color2: #6a2dcc; 
    --positive-color: #2ac670; 
            
    --tittle1: whitesmoke; 
    --tittle2: #2ac4dd; 

    --circle-color-shadow: rgba(42, 196, 221,0.15);
    --circle-color-shadow-two: rgba(42, 196, 221,0.05)
}


body{
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    width: 0px;
}



/* Home Section Style */
.Home{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
}
.Home_Section-tittle{
    position: relative;
    height: 300px;
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.3ds.com/assets/invest/2024-10/lsh-pharmaceutical-and-biotech-hero-banner-1920x600.jpg);
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-size: cover;
}
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
}
.Home_Section-tittle h3{
    margin-top: 5rem;
    color: var(--tittle2);
    letter-spacing: 0.5px;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    text-align: left;
    font-weight: 700;
    max-width: 40%;
    opacity: 0;
    z-index: 1;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.9);
} 