*{
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

:root{
    --dark1: #0c042c; 
    --dark2: #0c214b; 
    --light1: #c3ccd4; 

    --neutral-gray: #b0b8c1;
    --neutral-bg-color: rgba(176, 184, 193, 0.2);
    --neutral-bg-color-contrast: rgba(124, 81, 149, 0.2); 
    
    --contrast-color: #3a255d;
    --contrast-color-shadow: #3b255d2c; 
    --contrast-color2: #6a2dcc; 
    --positive-color: #2ac670; 
            
    --tittle1: whitesmoke; 
    --tittle2: #2ac4dd; 

    --circle-color-shadow: rgba(42, 196, 221,0.15);
    --circle-color-shadow-two: rgba(42, 196, 221,0.05)
}


body{
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    width: 0px;
}



/* Home Section Style */
.Home{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to right, var(--dark2), var(--contrast-color), var(--dark2));
}
.Home_Section-tittle{
    position: relative;
    height: 300px;
    background-color: var(--dark2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://www.3ds.com/assets/invest/2024-10/lsh-pharmaceutical-and-biotech-hero-banner-1920x600.jpg);
    background-position: 0% 40%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.backdrop{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}
.Home_Section-tittle h3{
    margin-top: 5rem;
    color: var(--tittle1);
    letter-spacing: 0.5px;
    font-family: "Raleway", sans-serif;
    font-size: 45px;
    text-align: left;
    font-weight: 700;
    max-width: 40%;
    opacity: 0;
    z-index: 3;
} 




.contenitore-video{
    position: relative;
    height: 600px;
    overflow: hidden;
}
video{
    width: 100%;
    height: auto;
    opacity: 0.6;
}
.backdrop{
    background-color: rgba(0,0,0,0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}
.contenitore-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: -4rem;
}
.contenitore-description h3,
.contenitore-presentazione-description h3{
    color: var(--tittle1);
    letter-spacing: 0.5px;
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 500;
}
.contenitore-description p{
    color: var(--light1);
    letter-spacing: 1px;
    line-height: 1.5rem;
    max-width: 46%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contenitore-presentazione{
    margin: 0rem auto 2rem auto;
}

#correzione{
    margin-top: -3rem;
    margin-bottom: 4rem;
}
.contenitore-presentazione-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
span{
    color: var(--tittle2);
}












.home-content-demo{
    background-color: rgba(124, 81, 149, 0.2); 
    margin-top: -1rem;
    position: relative;
    overflow: hidden;
}
.demo-descrizione{
    margin-left: -55rem;
    z-index: 2;
}
.demo-descrizione h5{
    padding: 10px;
    text-align: center;
    color: var(--tittle1);
}
.demo-descrizione h3{
    text-align: center;
    color: var(--tittle2);
    font-size: 40px;
    font-weight: 700;
    font-family: system-ui;
}
.demo-descrizione p{
    text-align: center;
    font-style: italic;
    padding: 5px;
    margin: auto;
}
.button-container-demo{
    margin-top: 2rem;
    gap: 10px;
}
.home-content-demo .button-style{
    padding: 8px;
    width: 14rem;
}
.home-content-demo .backdrop{
    margin-left: 10%;
    margin-top: 10%;
    transform: rotate(40deg);
    height: 200rem;
    width: 200rem;
    overflow: hidden;
    z-index: 2;
}
.home-content-demo .backdrop img{
    transform: rotate(-40deg);
    margin-left: -30rem;
    margin-top: 15rem;
    z-index: 1;
    filter: blur(2px);
}
.mobile{
    display: none;
}



@media only screen and (min-width: 320px) and (max-width: 480px) {

    .Home_Section-tittle{
        height: 150px;
        background-size: cover;
    }
    .Home_Section-tittle h3{
        margin-top: 2rem;
        font-size: 25px;
    } 
    video{
        width: 150%;
    }
    .contenitore-video{
        height: 270px;
        margin-bottom: 1.5rem;
    }
    .contenitore-description{
        margin: auto;
    }
    .contenitore-description h3{
        font-size: 20px;
    }
    .contenitore-description p{
        min-width: 18rem;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
    .contenitore-presentazione{
        flex-direction: column;
        margin-bottom: 1.5rem;
    }
    .contenitore-presentazione-description h3{
        font-size: 20px
    }
    #correzione{
        margin-top: 0;
        margin-bottom: 1.5rem;
        flex-direction: column-reverse;
    }

    .home-content-demo{
        margin-top: 0rem;
    }
    .demo-descrizione{
        margin-left: 0rem;
    }
    .demo-descrizione h3{
        font-size: 22px;
    }
    .button-container-demo{
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .home-content-demo .button-style{
        padding: 0px;
        width: 12rem;
    }

}

@media only screen and (min-width: 600px) and (max-width: 1023px) {

    .Home_Section-tittle{
        height: 220px;
        background-size: cover;
    }
    .Home_Section-tittle h3{
        margin-top: 2rem;
        font-size: 28px;
    } 
    .contenitore-video{
        height: 400px;
    }
    .contenitore-description h3{
        font-size: 28px;
    }
    .contenitore-description p{
        min-width: 30rem;
    }
    .contenitore-presentazione{
        flex-direction: column;
    }
    .contenitore-presentazione h3{
        font-size: 28px;
    }
    .contenitore-presentazione .button-style{
        width: 14rem;
    }
    #correzione{
        flex-direction: column-reverse;
    }


    .home-content-demo{
        height: 25rem;
    }
    .demo-descrizione {
        margin-left: 0rem;
    }
    .demo-descrizione h3{
        font-size: 30px;
    }
    .demo-descrizione p{
        max-width: 50%;
    }
    .button-container-demo{
        flex-direction: column;
    }

    .backdrop{
        display: none;
    }
}



@media (min-width: 1024px) and (max-width: 1399px) {

    .Home_Section-tittle{
        background-size: cover;
    }
    .Home_Section-tittle h3{
        margin-top: 2rem;
        font-size: 30px;
        text-align: center;
    } 
    .contenitore-video{
        height: 500px;
    }
    .contenitore-description h3{
        font-size: 28px;
    }
    .contenitore-description p{
        min-width: 30rem;
    }
    .contenitore-presentazione p:last-of-type{
        display: none;
    }
    .contenitore-presentazione h3{
        font-size: 25px;
    }
    
    .home-content-demo .backdrop{
        display: none;
    }
    .demo-descrizione{
        margin-left: 0rem;
    }
    .demo-descrizione h3{
        font-size: 30px;
    }
    .button-container-demo{
        flex-direction: column;
    }
}
@media (min-width: 1400px) and (max-width: 1700px) {
    .Home_Section-tittle{
        background-size: cover;
    }
    .Home_Section-tittle h3{
        margin-top: 2rem;
        font-size: 30px;
    } 
    .contenitore-description{
        min-width: 80%;
    }
    .contenitore-presentazione{
        min-width: 90%;
    }
    .demo-descrizione{
        margin-left: -38rem;
    }
}


@media (min-width: 2560px) {
    .home-content-demo .backdrop{
        margin-left: 40rem;
        margin-top: 10rem;
    }
}